.navbar {
  background-color: #0a140b;
  padding: 16px;
}

.navbar .navbar-brand {
  color: #ffffff;
  margin-left: 24px;
}

.navbar .nav-link {
  color: #ffffff;
  margin-left: 24px;
  display: flex;
  justify-content: center;
}

.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-link:hover {
  color: #32d642 !important;
}
.navbar .navbar-nav .nav-link.custom-active {
  color: #32d642 !important;
}

.custom-toggle {
  color: #32d642;
  background-color: #c7ffbb;
}
